/* Styling for the footer */
footer {
     /* Change background color to red */
    color:black;
    text-align: center;
    padding: 20px; 
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(171,178,251);
  }
  
  