/* Container for the login page */
body {
     overflow: hidden ;
     /* background-color: rgb(213,234,250) !important; */
  }
.login-container {
    display: flex;
    flex-direction: column;
    align-items: left; 
    justify-content: center;
    padding: 20px 20px;
    margin-left: 500px;
    height: 85vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

  }

  .container {
    width: 100%;

  }

  .side-image{
    position: absolute;
    right: 56%;
    margin-left: -3px;
    margin-top: 80px;
    top: 50px;
    width: auto;
    max-height: 50%;
    border-radius: 15%;
    border-top-right-radius: 30%;
    border-bottom-left-radius: 30%;
  }

  .image-border {
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 75px;
    border-left: 1px solid;
    height: 500px;
  }
  
  /* Styling for the card */
  .card{
    width: 100%;
    max-width: 300px;
    border: 15px solid;
    border-color: black !important;
  }
  
  .card-header {
    background-color: white !important;
    color: white;
    padding: 10px 20px;
    text-align: center;
  }

  .card-body {
    background-color: rgb(171,178,251);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: black !important;
  }

  .form-group {
    margin-bottom: 20px;
    width: 100%; 
  }
  
  .form-group label {
    font-weight: bold;
  }
  
  .form-control {
    width: 70%;
    padding: 10px;
    border: 1px solid black !important;
    border-radius: 4px;
  }
  
  .card-footer {
    background-color: white !important;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .btn {
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-color: black !important;
  }
  
  .btn-primary {
    background-color: rgb(252,134,127) !important;
    color: black !important;
  }

  .btn-color {
    background-color: rgb(249, 79, 100);
  }
  
  .btn-primary:hover {
    background-color: rgb(149, 164, 255) !important;
  }
  
  .btn-success {
    background: #F94F64;
    color: white;
    border: none;
  }
  
  .btn-success:hover {
    background-color: #218838;
  }
  
  .errmsg {
    color: red;
    margin-left: 5px;
  }
  
  